<!-- soal 2 -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <button onclick="vm.openForm()">Open Form</button>
    <h1>{{"Nilai a : " + a}}</h1>
    <h1>{{"Nilai Rata-Rata : " + rataRata }}</h1>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        a: "",
        rataRata: "",
        tempNumArr: []
      },
      methods: {
        openForm: function () {
          this.a = prompt("Masukkan nilai a");

          if (this.tempNumArr.length < 2) {
            this.tempNumArr.push(this.a);
          } else {
            this.rataRata = tryRataRata(this.tempNumArr);
          }
        }
      }
    })

    var enterButton = null; //global variables must be initialised
    var calculateButton = null;

    // function tryRataRata untuk menghasilkan value rata2 dengan parameter a
    function tryRataRata(arr) {
      let tempNum = 0;
      let result = 0;

      for (let i = 0; i < arr.length; i++) {
        tempNum += +arr[i];
      }
      console.log(tempNum)

      result = tempNum / (arr.length + 1);

      return result;
    }

    function rataRata() {
      var rataRata = 0;
      // var totalA = 0;
      for (var i = 0; i <= a.length; i++) {
        total += a[i];   //add the each number in the array to the cumulative total 
      }
      rataRata = result / i;
      return rataRata
    }

    console.log(rataRata);

  </script>
</body>

</html>