<!-- soal 1 -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    {{ fullName }}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        firstName: 'Tuanku',
        lastName: 'Imam Bonjol'
      },
      computed: {
        fullName: {
          get() {
            return `${this.firstName} ${this.lastName}`
          },
          set() {
            this.getFullName = function () {
              console.log(firstAndLast)
              return name;
            };
            this.getFirstName = function () {
              return firstAndLast.split(" ")[0];
            }
            this.getLastName = function () {
              return firstAndLast.split(" ")[1];
            }
            this.setFullName = function (fullName) {
              console.log(name = fullName);
              return name = fullName;
            }
          }
        }
      },
      methods: {}
    })
  </script>

</body>

</html>