<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tugas 12 Vue JS</title>
  <style>
    form {
      border: 1px solid #ddd;
      padding: 5px;
      width: 225px;
      background: #efefef;
    }

    label {
      display: block;
      margin-top: 5px;
    }

    input,
    textarea,
    select,
    option {
      min-width: 200px;
    }
  </style>
</head>

<body>

  <div id="app">
    <isi-tabel-user></isi-tabel-user>

    <form>
      <label class="label">Name :</label>
      <div class="control">
        <input class="input" type="text" placeholder="Type Your Name" v-model="nameUser">
      </div>
      <br>
      <label class="label">Address :</label>
      <div class="control">
        <input class="input" type="text" placeholder="Type Your Address" v-model="addressUser">
      </div>
      <br>
      <label class="label">Phone :</label>
      <div class="control">
        <input class="input" type="text" placeholder="Type Your Number Phone" v-model="numberPhone">
      </div>

      <div v-if="btnName == 'submit'">
        <input type="submit" value="SUBMIT" @click.prevent="submitForm">
      </div>
      <div v-else-if="btnName != 'update'">
        <!-- <input type="button" value="UPDATE" @click="updateForm(user.id)"> -->
        <button type="submit" @click.prevent="updateForm">UPDATE</button>
        <input type="button" value="CANCEL" @click="clearForm" style="margin-top: 5px;">
      </div>
      <div v-else-if="btnName == 'upload'">
        <input type="file" name="photo" ref="photo">
        <input type="button" @click="uploadPhoto" value="UPLOAD" style="margin-top: 5px; margin-bottom: 5px;">
        <input type="button" value="CANCEL" @click="clearForm" style="margin-top: 5px;">
      </div>

      <!-- <button type="submit">{{btnName}}</button> -->
    </form>

    <br><br>


    <table border="1" cellspacing="0" width="70%">
      <tr v-for="user in users" :key="user.id">
        <td>
          <img width="100" :src="user.photo_profile" alt="">
        </td>

        <td>
          <b>Name: {{user.name}} </b>
          <br>
          <b>Address: {{user.address}} </b>
          <br>
          <b>Phone: {{user.no_hp}} </b>
          <br>
        </td>

        <td align="center">
          <button @click="findOneById(user.id)">Edit</button>
          <button @click="removeUser(user.id)">Hapus</button>
          <button @click="uploadPhoto(user.id)">Upload Photo</button>
        </td>

      </tr>

    </table>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!-- <script src="https://cdn.jsdeliver.net/npm/axios/dist/axios.min.js"></script> -->

  <script>
    Vue.component('isi-tabel-user', {
      template: '<h1>try component</h1>'
    })

    new Vue({
      el: '#app',
      data: {
        nameUser: "",
        addressUser: "",
        numberPhone: "",
        error: [],
        users: [],
        isCreate: {},
        btnName: "submit",
        idUploadUsers: null
      },

      methods: {
        submitForm: function () {
          const config = {
            method: "POST",
            url: "http://demo-api-vue.sanbercloud.com/api/member",
            data: {
              name: this.nameUser,
              address: this.addressUser,
              no_hp: this.numberPhone
            }
          }

          axios(config)
            .then((response) => {
              console.log(response.data.message)
              alert(response.data.message)
              this.getUser()
              this.nameUser = ""
              this.addressUser = ""
              this.numberPhone = ""
            })
            .catch((error) => {
              console.log(error)
            })
        },

        getUser: function () {
          const config = {
            method: "GET",
            url: "http://demo-api-vue.sanbercloud.com/api/member"
          }

          axios(config)
            .then((response) => {
              this.users = response.data.members
            })
            .catch((error) => {
              console.log(error)
            })
        },

        removeUser: function (userId) {
          const config = {
            method: "DELETE",
            url: `http://demo-api-vue.sanbercloud.com/api/member/${userId}?_method=DELETE`
          }

          axios(config)
            .then((response) => {
              alert(response.data.message)
              this.getUser()
            })
            .catch((error) => {
              console.log(error)
            })
        },

        findOneById: function (userId) {
          const config = {
            method: "GET",
            url: `http://demo-api-vue.sanbercloud.com/api/member/${userId}`
          }
          axios(config)
            .then((response) => {
              this.nameUser = response.data.member.name
              this.addressUser = response.data.member.address
              this.numberPhone = response.data.member.no_hp
              this.isCreate = response.data.member
              this.btnName = "update"
              this.btnName = "cancel"
            })
            .catch((error) => {
              console.log(error)
            })
        },

        clearForm: function () {
          this.nameUser = ""
          this.addressUser = ""
          this.numberPhone = ""
          this.btnName = "submit"
        },

        updateForm: function () {
          const config = {
            method: "PUT",
            url: `http://demo-api-vue.sanbercloud.com/api/member/${this.isCreate.id}?_method=PUT`,
            data: {
              name: this.nameUser,
              address: this.addressUser,
              no_hp: this.numberPhone
            }

          }
          axios(config)
            .then((response) => {
              console.log(response.data.message)
              this.nameUser = ""
              this.addressUser = ""
              this.numberPhone = ""
              alert(response.data.message)
              this.btnName = "submit"
              this.getUser()

            })
            .catch((error) => {
              console.log(error)
            })
        },

        uploadPhoto: function (userId) {
          this.nameUser = users.nameUser
          this.addressUser = users.addressUser
          this.numberPhone = user.numberPhone
          this.btnName = "upload"
          this.idUploadUsers = users.id
        }
      },

      created: function () {
        this.getUser();
      }
    })


  </script>

</body>