/* gambar dan text "biodata" */

.image-home {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  top: -10px;
}

.text-home {
  position: absolute;
  margin-top: 300px;
  margin-left: 550px;
  font-size: 100px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* content */

/* about mee */
.box-avatar {
  float: right;
  width: 330px;
  height: 600px;
  background-color: white;
}

.avatar {
  display: block;
  margin-right: 40px;
  margin-left: auto;
  margin-top: 72px;
  margin-bottom: auto;
}

.box-isi {
  float: left;
  width: 820px;
  height: 600px;
  background-color:white;
  padding-left: 40px;
}

.isi1 {
  font-size: 50px;
  margin-top: 130px;
}

.isi2 {
  font-size: 40px;
}

.isi3 {
  font-size: 25px;
}

/* education background */

.education {
  margin-left: 0px;
  margin-right: 10px;
}

.card {
  border-radius: 5px;
  width: 290px;
  height: 300px;
  color: black;
  margin-left: 13px;
  margin-right: 5px;
  margin-top: 5px;
  float: left;
  background-color: rgb(166, 166, 167);
}

.card:hover {
  color: aliceblue;
}

.education-picture {
  margin-top: 40px;
  width: auto;
  height: 10em;
}

#kuliah {
  margin-top: 40px;
  width: auto;
  height: 10em;
}

.subjudul-education {
  font-size: 35px;
  margin-left: 400px;
  margin-right: auto;
  border: 0;
}

/* CONTACT */

.container-contact {
  height: 200px;
  background-color: white;
  background-image: linear-gradient(white, grey);
  margin-top: 30em;
  padding-top: 100px;
}

.subjudul-contact {
  font-size: 35px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 30px;
}

.isi {
  font-size: 20px;
  ;
}
