<template>
  <v-app>
    <alert />
    <!-- <Dialog /> -->

    <v-navigation-drawer app v-model="drawer">
      <v-list>
        <v-list-item v-if="!guest">
          <v-list-item-avatar>
            <v-img src="https://randomuser.me/api/portraits/men/78.jpg"></v-img>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>Baby Ayu Cahaya Putri</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <div class="pa-2" v-if="guest">
          <v-dialog transition="dialog-bottom-transition" max-width="600">
            <template v-slot:activator="{ on, attrs }">
              <!-- DI V BOTTON HARUSNYA ADA @click="login", SEMENTARA DI HAPUS DAN DIPINDAH KE LOGIN.VUE -->
              <v-btn block color="primary" class="mb-1" v-bind="attrs" v-on="on"
                ><v-icon left>mdi-lock</v-icon> Login</v-btn
              >
            </template>
            <template v-slot:default="dialog">
              <v-card>
                <v-toolbar dark color="success">
                  <v-btn icon dark @click="dialog.value = false">
                    <v-icon>mdi-close</v-icon>
                  </v-btn>
                  <v-toolbar-title>Login</v-toolbar-title>
                </v-toolbar>
                <v-divider></v-divider>
                <v-container fluid>
                  <v-form ref="form">
                    <v-text-field
                      v-model="email"
                      label="E-mail"
                      required
                      append-icon="mdi-email"
                    >
                    </v-text-field>
                    <v-text-field
                      v-model="password"
                      :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                      type="password"
                      label="Password"
                      counter
                      @click:append="showPassword = !showPassword"
                    ></v-text-field>

                    <div>
                      <v-btn block color="success" class="mb-1" @click="login">
                        <v-icon left dark>mdi-lock-open</v-icon>
                        Login
                      </v-btn>
                    </div>
                  </v-form>
                </v-container>
              </v-card>
            </template>
          </v-dialog>
          <!-- <v-btn block color="primary" class="mb-1" @click="login">
            <v-icon left>mdi-lock</v-icon>
            Login
          </v-btn> -->
          <v-btn block color="success">
            <v-icon left>mdi-account</v-icon>
            Register
          </v-btn>
        </div>

        <v-divider></v-divider>

        <v-list-item
          v-for="(item, index) in menus"
          :key="`menu-${index}`"
          :to="item.route"
        >
          <v-list-item-icon>
            <v-icon left>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <template v-slot:append v-if="!guest">
        <div class="pa-2">
          <v-btn block color="red" dark @click="logout">
            <v-icon left>mdi-lock</v-icon>
            Logout
          </v-btn>
        </div>
      </template>
    </v-navigation-drawer>

    <v-app-bar app color="success" dark>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>Baby Ayu Cahaya Putri</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-app-bar>

    <v-main>
      <v-container fluid>
        <v-slide-y-transition>
          <router-view></router-view>
        </v-slide-y-transition>
      </v-container>
    </v-main>

    <v-footer app> @Baby Ayu Cahaya Putri </v-footer>
  </v-app>
</template>

<script>
import { mapActions } from "vuex";
import Alert from "./components/Alert.vue";
import axios from "axios";

export default {
  components: { Alert },
  name: "App",

  data: () => ({
    drawer: false,
    menus: [
      {
        title: "Home",
        icon: "mdi-home",
        route: "/",
      },
      {
        title: "Blogs",
        icon: "mdi-note",
        route: "/blogs",
      },
    ],
    guest: true,
    email: "",
    password: "",
  }),

  methods: {
    login() {
      // this.setToken(response.data)
      axios({
        method: "POST",
        url: "http://demo-api-vue.sanbercloud.com/api/v2/auth/login",
        data: {
          email: this.email,
          password: this.password,
        },
      })
        .then((res) => {
          if (res.data) {
            this.guest = false;
            this.setAlert({
              status: true,
              color: "success",
              text: "Anda berhasil login!",
            });
          }
        })
        .catch(
          this.setAlert({
            status: true,
            color: "danger",
            text: "Invalid email/ password",
          })
        );
    },
    logout() {
      this.guest = true;
      this.setAlert({
        status: true,
        color: "success",
        text: "Anda berhasil logout!",
      });
    },
    ...mapActions({
      setAlert: "alert/set",
    }),
  },

  mounted() {
    this.snackbarStatus = true;
  },
};
</script>
