<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tugas 12 Vue JS</title>
  <style>
    form {
      border: 1px solid #ddd;
      padding: 5px;
      width: 225px;
      background: #efefef;
    }

    label {
      display: block;
      margin-top: 5px;
    }

    input,
    textarea,
    select,
    option {
      min-width: 200px;
    }
  </style>
</head>

<body>

  <div id="app">
    <form v-on:submit.prevent="submitForm">
      <label class="label">Name :</label>
      <div class="control">
        <input class="input" type="text" placeholder="Type Your Name" v-model="nameUser">
      </div>
      <br>
      <label class="label">Address :</label>
      <div class="control">
        <input class="input" type="text" placeholder="Type Your Address" v-model="addressUser">
      </div>
      <br>
      <label class="label">Phone :</label>
      <div class="control">
        <input class="input" type="text" placeholder="Type Your Number Phone" v-model="numberPhone">
      </div>
      <button type="submit">{{btnName}}</button>
    </form>

    <br><br>


    <table border="1" cellspacing="0" width="70%">
      <tr v-for="user in users" :key="user.id">
        <td>
          <img width="100" :src="user.photo_profile" alt="">
        </td>

        <td>
          <b>Name: {{user.name}} </b>
          <br>
          <b>Address: {{user.address}} </b>
          <br>
          <b>Phone: {{user.no_hp}} </b>
          <br>
        </td>

        <td align="center">
          <button @click="findOneById(user.id)">Edit</button>
          <button @click="removeUser(user.id)">Hapus</button>
          <button @click="">Upload Photo</button>
        </td>

      </tr>

    </table>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!-- <script src="https://cdn.jsdeliver.net/npm/axios/dist/axios.min.js"></script> -->

  <script>
    new Vue({
      el: '#app',
      data: {
        nameUser: "",
        addressUser: "",
        numberPhone: "",
        error: [],
        users: [],
        isCreate: {},
        btnName: "submit"
      },

      methods: {
        submitForm: function () {
          if (!this.isCreate) {
            const config = {
              method: "POST",
              url: "http://demo-api-vue.sanbercloud.com/api/member",
              data: {
                name: this.nameUser,
                address: this.addressUser,
                no_hp: this.numberPhone
              }
            }

            axios(config)
              .then((response) => {
                console.log(response.data.message)
                alert(response.data.message)
                this.getUser()
                this.nameUser = ""
                this.addressUser = ""
                this.numberPhone = ""
              })
              .catch((error) => {
                console.log(error)
              })
          } else {
            const config = {
              method: "PUT",
              url: `http://demo-api-vue.sanbercloud.com/api/member/${this.isCreate.id}?_method=PUT`,
              data: {
                name: this.nameUser,
                address: this.addressUser,
                no_hp: this.numberPhone
              }
            }

            axios(config)
              .then((response) => {
                console.log(response.data.message)
                alert(response.data.message)
                this.getUser()
                this.nameUser = ""
                this.addressUser = ""
                this.numberPhone = ""
                this.btnName = "submit"
              })
              .catch((error) => {
                console.log(error)
              })
          }

        },

        getUser: function () {
          const config = {
            method: "GET",
            url: "http://demo-api-vue.sanbercloud.com/api/member"
          }

          axios(config)
            .then((response) => {
              this.users = response.data.members
            })
            .catch((error) => {
              console.log(error)
            })
        },

        removeUser: function (userId) {
          const config = {
            method: "DELETE",
            url: `http://demo-api-vue.sanbercloud.com/api/member/${userId}?_method=DELETE`
          }

          axios(config)
            .then((response) => {
              alert(response.data.message)
              this.getUser()
            })
            .catch((error) => {
              console.log(error)
            })
        },

        findOneById: function (userId) {
          const config = {
            method: "GET",
            url: `http://demo-api-vue.sanbercloud.com/api/member/${userId}`
          }
          axios(config)
            .then((response) => {
              this.nameUser = response.data.member.name
              this.addressUser = response.data.member.address
              this.numberPhone = response.data.member.no_hp
              this.isCreate = response.data.member
              this.btnName = "update"
            })
            .catch((error) => {
              console.log(error)
            })
        },

        uploadPhoto: function (userId) {
          const config = {
            method: "GET",
            url: `http://demo-api-vue.sanbercloud.com/api/member/${use}/upload-photo-profile`
          }
          axios(config)
            .then((response) => {
              this.nameUser = response.data.member.name
              this.addressUser = response.data.member.address
              this.numberPhone = response.data.member.no_hp
              this.isCreate = response.data.member
              this.btnName = "update"
            })
            .catch((error) => {
              console.log(error)
            })
        }

      },

      created: function () {
        this.getUser();
      }


    })


  </script>

</body>