<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz Vue JS</title>
</head>

<body>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  <div id="app">
    <form v-on:submit.prevent="addItem">
      <input v-model="newItem">
      <button>{{btnName}}</button>
    </form>
    <ul>
      <li is="name-item" v-for="(item, index) in items" v-bind:key="index" v-bind:name="item.name"
        v-on:remove="items.splice(index, 1)" v-on:edit="getName(item.id)">
      </li>
    </ul>
  </div>
  <script>
    Vue.component('name-item', {
      template: '\
    <li>\
      {{ name }}\
      <button v-on:click="$emit(\'edit\')">Edit</button> ||\
      <button v-on:click="$emit(\'remove\')">Delete</button>\
    </li>\
  ',
      props: ['name']
    })

    new Vue({
      el: '#app',
      data: {
        newItem: '',
        items: [
          { id: 1, name: 'Muhammad Iqbal Mubarok' },
          { id: 2, name: 'Ruby Purwanti' },
          { id: 3, name: 'Faqih Muhammad' },
        ],
        nextId: 4,
        btnName: "add",
        tampungId: 0
      },
      methods: {
        addItem: function () {
          if (this.tampungId != 0) {
            let result = this.items.filter(item => item.id === this.tampungId)
            result[0].name = this.newItem
            this.tampungId = 0
            this.btnName = "add"
          } else {
            this.items.push({
              id: this.nextId++,
              name: this.newItem
            })
          }
          this.newItem = ''
        },
        getName: function (id) {
          this.btnName = "update"
          let result = this.items.filter(item => item.id === id)
          this.newItem = result[0].name
          this.tampungId = result[0].id
        }
      }
    })


  </script>

</body>

</html>