<template>
  <form>
    <label>Role :</label>
    <input type="text" v-model="role" />
    <button type="submit" @click.prevent="login">Login</button>
  </form>
</template>

<script>
export default {
  name: "Login",
  data() {
    return {
      role: "",
    };
  },
  methods: {
    login() {
      localStorage.setItem("kode_masuk", this.role);
      this.role = "";
      this.$router.push("/");
    },
  },
};
</script>

<style>
</style>