<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form Input Binding</title>
</head>

<body>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  <div id="app">
    <section class="form">
      <div class="field">
        <label class="label">Book Name : {{ keyword }}</label>
        <div class="control">
          <input class="input" type="text" placeholder="Type Keywords" v-model="keyword">
          <!-- <input v-model="userName" @change="someHandler"> -->
        </div>
      </div>
    </section>

    <div class="column">
      <section class="section" id="results">
        <div class="box">
          <ul id="list">
            <li v-for="(item, index) in result" v-bind:key="item.name" v-bind:data-index="index">{{ item.name }}
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        keyword: '',
        items: [
          { name: 'Kalkulus Dasar' },
          { name: 'Fisika Dasar' },
          { name: 'Aljabar Linear Elementor' },
          { name: 'Aljabar Abstrak' },
          { name: 'Algoritma Pemrograman' }
        ],
        isSearching: false,
        result: []
      },
      watch: {
        keyword: function () {
          var vm = this;
          this.isSearching = true;
          setTimeout(function () {
            vm.result = vm.items.filter(function (item) {
              return item.name.toLowerCase().indexOf(vm.keyword.toLowerCase()) !== -1
            })
          }, 100)
        }
      }
    });

  </script>

</body>

</html>