<template>
  <div>
    <v-card v-if="oneData.id">
      <v-img
        :src="
          oneData.photo
            ? apiDomain + oneData.photo
            : 'https://picsum.photos/200/300'
        "
        class="blue--text"
        height="200px"
      >
        <v-card-title class="fill-height align-end" v-text="oneData.title">
        </v-card-title>
      </v-img>

      <v-card-text>
        <v-simple-table dense>
          <tbody>
            <tr>
              <td><v-icon>mdi-format-title</v-icon> Judul</td>
              <td class="blue--text">{{ oneData.title }}</td>
            </tr>
            <tr>
              <td><v-icon>mdi-note</v-icon> Deskripsi</td>
              <td>
                {{ oneData.description }}
              </td>
            </tr>
          </tbody>
        </v-simple-table>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data: () => ({
    blogs: {},
    apiDomain: "http://demo-api-vue.sanbercloud.com",
    oneData: {},
  }),

  methods: {
    go() {
      let { id } = this.$route.params;

      axios({
        method: "GET",
        url: `${this.apiDomain}/api/v2/blog/${id}`,
      })
        .then((res) => {
          this.oneData = res.data.blog;
          // console.log(this.oneData, " =>>>>>>>>>>>>");
        })
        .catch((err) => {
          console.log(err);
        });

      // const config = {
      //   method: "get",
      //   url: `${this.apiDomain}/api/v2/blog/${id}`,
      // };

      // this.axios(config)
      //   .then((response) => {
      //     let { blog } = response.data;
      //     console.log(blog.photo);
      //     this.blog = blog;
      //   })
      //   .catch((error) => {
      //     console.log(error);
      //   });
    },
  },

  created() {
    console.log("masuk sepi gooooooo ---------- line 64");
    this.go();
  },
};
</script>
